* {
  font-family: 'Open Sans', sans-serif;
  padding:0;
  margin:0;
  /*font-family: 'Roboto', sans-serif;*/
  box-sizing: border-box;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 1%;
  display: block;
}
#main {
  width: 99vw;
  margin:auto;
  background-color: lightgrey;
}

#header {
  padding: 0;
  background-image: url("background.png");
  background-size: cover;
  height: 99vh;
  width: 100%;
  margin:auto;
  border-bottom: solid black 1px;
  color: beige;
}

#header-nav-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  height: 5vh;
  padding-bottom: 1%;
}

#header-nav-bar a{
  color: antiquewhite;
}

#header-content {
  max-height: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#header-img-div{
  width: 30%;
}

#header-type-div {
  width: 70%;
}

.nav-link {
  border-right: solid black 1px;
  width: 20%;
  text-align: center;
}

#header-break {
  width: 99%;
  height: 1px;
  margin: 5vh auto auto;
  background-color: #333333;
}

#about-me {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#skills-div {
  width: 80%;
  margin: 4% auto auto;
  color: beige;
}
#skills li{
  color: beige;
  font-weight: bold;
  list-style-type: none;
}

.bio-section {
  margin-top: 5vh;
  text-align: center;
  background-color: ghostwhite;
  padding-bottom: 10px;
  clear:both;
}

#workExperience{
  width: 48%;
  margin: 2% auto;
  text-align: left;
}

.work-entry {
  margin-top: 2%;
}
.work-description {
  margin-top: -1%;
}

.work-edu {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.work-edu-title {
  height: 10%;
}

.work-edu-content {
  height: 80%;
}

.work-edu-tab {
  height: 10%;
}

.nav-tab{
  /*display: none;*/
  text-align: center;
  height: 4vh;
  font-size: 1.5em;
  width:20%;
  margin:auto;
}

.nav-tab a {
  color: dimgrey;
}

#projects {
  width:98%;
  margin:auto;
  text-align: left;
}

#education {
  width:48%;
  margin: 2% auto;
  text-align: left;
}

.map-div-title {
  width:98%;
  margin: 2% auto;
}

#letsConnect {
  width:98%;
  background-color: ghostwhite;
  margin: auto;
  border: solid darkgray 1px;
}

#letsConnect a {
  margin-top: 0;
  margin-right: 5%;
  font-weight: normal;
}

#contacts-div {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  margin-bottom: -2%;
}

.contacts-title {
  width: 15%;
}

#footerContacts {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  width: 80%;
}

.contact-item {
  width: 30%;
  margin: 4% 2%;
}

.bold-text {
  font-weight: bold;
}

.project-entry{
  position: relative;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 4em;
  line-height: 48px;
  display: inline;
}

h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 2em;
  color: dimgrey;
  line-height: 29px;
  background-color: ghostwhite;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}

.role {
  font-size: 2em;
  padding-top: 1.4%;
}

.date-text {
  font-size: 14px;
  color: black;
  line-height: 16px;
}

.location-text {
  font-size: 14px;
  color: black;
  line-height: 16px;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

#name-role {
  width: 100%;
  margin-top: 10%;
}

.welcome-message {
  font-style: italic;
  width: 75%;
  height: 10%;
  margin-top:15%;
  margin-left: 15%;
}

.welcome-message p {
  font-size: 1.5em;
  color: beige;
}

#skillsH3 {
  color: black;
  display: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 100%;
  display: none;
  max-height: 100%;
  overflow: hidden;
}

img {
  padding: 10px;
}

/* Bar chart stuff */

span {
  padding: 5px;
}

#letsConnect {
  text-align: left;
  margin-bottom: 1%;
}

#project-div {
  display:flex;
  flex-wrap: wrap;
  flex-flow: row;
  width: 80%;
  background-color:ghostwhite;
}

.project-entry {
  width: 30%;
  position: relative;
  z-index: 10;
  background-color: white;
  margin: auto;
  border: solid darkgray 2px;
}

.project-entry:last-child {
  z-index: 1;
}

.proj-img-div {
  margin-top: 5%;
  height: 280px;
  overflow: hidden;
}

.project-img {
  min-height: 90%;
  max-width: 100%;
}

.project-desc {
  color: black;
  margin-bottom: 2%;
}
#proj {
  min-height: 370px;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  text-align: center;
  background-color: white;
}

#arrow-button-div {
  display: flex;
  flex-flow: row;
  background-color: ghostwhite;
}

.arrow-button {
  font-size: 3em;
  padding-top: 22%;
  color: dimgrey;
  width: 10%;
  background-color: ghostwhite;
}

.school-name {
  margin-top: 3%;
}

#classes-title {
  margin-top: 5%;
  padding: 0;
}

#map {
  display: block;
  height:80%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 80vh;
  width: 98%;
  margin: 2.5% auto 0 auto;
  text-align: left;

}
@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .project-entry {
    width: 80%;
    margin: auto;
  }

  .arrow-button {
    padding-top: 40%;
  }
}

@media only screen and (min-width: 600px) {
  .project-entry {
    width: 30%;
    margin: auto;
  }

}

@media only screen and (min-width: 900px) {
  .arrow-button {
    padding-top: 12%;

  }
  #skills-div {
    width: 80%;
    margin: 0 45% auto ;


  }
}