* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

}
body {

}

#main {
  width: 99vw;
  margin:auto;
}

#header {
  padding: 0;
  background-image: url("background.png");
  background-size: cover;
  height: 90vh;
  width: 98%;
  margin:auto;
  border-bottom: solid black 1px;
  color: beige;
}

#header-nav-bar {
  width: 100%;
  /*position: fixed;*/
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;

  height: 5vh;
  padding-bottom: 1%;
}

#header-nav-bar a{
  color: antiquewhite;
}

#header-content {
  max-height: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#header-img-div{
  width: 30%;
}

#header-type-div {
  width: 70%;
}

.nav-link {
  border-right: solid black 1px;
  width: 20%;
  text-align: center;
}

#header-break {
  width: 99%;
  height: 1px;
  margin: 5vh auto auto;
  background-color: #333333;
}



#about-me {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#skills-div {
  width: 45%;
  margin: 4% auto auto;
  color: beige;

}
#skills li{
  color: beige;
  font-weight: bold;
  list-style-type: none;
}

.bio-section {
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  clear:both;
}

#workExperience{
  width: 45%;
  margin-left: 5%;
  text-align: left;
  border-right: solid black 1px;
}

.work-description {
  width: 60%;

}

.nav-tab{
  /*display: none;*/
  padding-top:4px;
  border-bottom: solid black 1px;
  text-align: center;
  height: 4vh;
  background-color: white;
  width:90%;
  margin:auto;

}

#work-tab {
  width: 30%;
  margin:auto;
}

#education-tab {
  width: 30%;
  margin: auto;
}

#projects {
  width:98%;
  margin:auto;
  /*display: none;*/
}

#education {
  width:45%;
  margin-left: 5%;
  text-align: left;
}

#mapDiv {
  width:98%;
  text-align: center;
}

.map-div-title {
  width:98%;
  margin: auto;
}

#letsConnect {
  width:98%;
  margin:auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 4em;

  line-height: 48px;
  display: inline;
}

h2 {
  margin-top: 5vh;
  font-weight: bold;
  font-size: 24px;
  color: blue;
  line-height: 29px;
  background-color: white;

}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.role {
  font-size: 2em;
  padding-top: 1.4%;

}

.date-text {

  font-size: 14px;
  color: black;
  line-height: 16px;

}

.location-text {

  font-size: 14px;
  color: black;
  line-height: 16px;


}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 1%;
  display: block;
}

#name-role {
  width: 100%;
  margin-top: 10%;
}

.welcome-message {
  font-style: italic;
  width: 75%;
  height: 10%;
  margin-top:15%;
  margin-left: 15%;
  /*line-height: 28px;*/
}

.welcome-message p {
  font-size: 1.5em;
  color: beige;
}



#skillsH3 {
  color: black;
  display: none;
}

.orange {
  background-color: white;
}

.orange-text {
  color: black;
}

.white-text {
  font-weight: bold;
  color: black;
}

.bio-section {
  margin-top: 5vh;
  text-align: center;
  background-color: white;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: white;
}

/* TODO: Replace with image later */


.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

.biopic {
  float: left;
  padding: 10px;
  width: 100%;
  display: none;
  max-height: 100%;
  overflow: hidden;
}

img {
  padding: 10px;
}

/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

#project-div {
  display:flex;
  flex-wrap: wrap;
  flex-flow: row;
  width: 80%
}

.project-entry {
  width: 33.3%;

}

.proj-img-div {
  margin-top: 5%;
  height: 280px;
  overflow: hidden;
}

.project-img {
  min-height: 90%;
  max-width: 100%;
}

.project-desc {
  color: black;
}
#proj {
  min-height: 370px;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  text-align: center;
  background-color: white;
}

#arrow-button-div {
  display: flex;
  flex-flow: row;
}

.arrow-button {
  font-size: 3em;

  padding-top: 22%;
  color: black;

}
#left-button {
  width: 10%
}
#right-button {
  width: 10%;
}

.school-name {
  margin-top: 3%;
}

#classes-title {
  margin-top: 5%;
  padding: 0;
}
@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  .biopic {
    display: block;
  }
}

@media only screen and (max-width: 599px) {
  .project-entry {
    width: 80%;
    margin: auto;
  }

  .arrow-button {
    padding-top: 40%;
  }
}

@media only screen and (min-width: 600px) {
  .project-entry {
    width: 40%;
    margin: auto;
  }
}

@media only screen and (min-width: 900px) {
  .arrow-button {
    padding-top: 12%;
    color: black;
  }
  #skills-div {
    width: 40%;
    margin: 0 45% auto ;


  }
}